<<<<<<< HEAD
.columns-container .default-content-wrapper{
  text-align: center;
  background-color: #0056b3;
  color: #ffffff;
=======
#tranh-dán-tường-tháng-102024{
  text-align: center;
  background-color: #0056b3;
  color: #ffffff;
}
div>h2 {
  
>>>>>>> 494f4fc63c74f7c63a84a62f0be88af3b74594cc
}

.sale-off{
  position: absolute;
  top: 10px;
  right: 10px; 
  border: 1px solid #a20319;
  background-color: #AA132B;
  color: white; 
  padding: 5px 10px; 
  box-shadow: 0 10px 30px rgba(0, 0, 0, .1);
  font-size: 14px; 
  z-index: 10; 
}

.psale {
  position: absolute; 
  top: 10px; 
  left: 10px; 
  background-color: #426100; 
  color: white; 
  padding: 5px 10px; 
  font-size: 14px; 
  border: 2px solid;
  border-radius: 10px; 
  z-index: 10;
}

.columns > div {
  display: grid; 
  grid-template-columns: 1fr; 
  gap: 16px; 
}

.columns img {
  width: 100%;
  object-fit: cover; 
<<<<<<< HEAD


=======
  
  
>>>>>>> 494f4fc63c74f7c63a84a62f0be88af3b74594cc
}

.products {
  order: 1; 
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: rgb(0 0 0 / 20%) 0px 5px 5px 0px;
<<<<<<< HEAD
  position: relative;
  overflow: hidden;
=======
>>>>>>> 494f4fc63c74f7c63a84a62f0be88af3b74594cc
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

.columns-heading {
  text-align: center;
}
.columns-paragraph {
  text-align: center;
  margin: 0;
}
<<<<<<< HEAD

=======
>>>>>>> 494f4fc63c74f7c63a84a62f0be88af3b74594cc
.button-secondary {
  padding: 0px 10px; 
  text-decoration: none; 
  border: none; 
  border-radius: 4px; 
  display: inline-block; 
  color: black; 
  background-color: white;
  font-weight: normal; 
}
.button.secondary:hover {
  background-color: #0056b3;  
  color: #ffffff;            
  transform: scale(1.1);      
}
@media (max-width: 900px) {
  .columns > div {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px; 
  }
  .columns-heading{
    font-size: 13px; 
  }
  .button-secondary {
    font-size: 11px;
  }
}

@media (min-width: 900px) {
  .columns > div {
    grid-template-columns: repeat(4, 1fr); 
    gap: 24px; 
  }

  .products {
    flex: 1;
    order: unset; 
  }
  .columns-heading{
    font-size: 17px; 
  }
  .button-secondary {
    font-size: 15px;
  }
<<<<<<< HEAD
}








=======
}
>>>>>>> 494f4fc63c74f7c63a84a62f0be88af3b74594cc
